html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container-fluid {

  width: 1606px;


}

.navbar {


  font-family: 'Josefin Sans', sans-serif;

}



.form-control {

  width: 300px;
  border: 1px solid #ced4da;
  border-radius: 3px;
}


#smicons:hover {
  opacity: 30%;
}


.navbar-custom {

  background-color: rgb(188, 227, 201);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;



}

#second-nav-items:hover {
  opacity: 30%;


}





#navbarSupportedContent {

  background-color: none;
}


.banner1 {
  border-radius: 10px;

}

.banner2 {
  border-radius: 10px;
  top: 0;
  bottom: 0;
  position: absloute;
  overflow-y: scroll;
  overflow-x: hidden;
}


#banners {

  border-radius: 10px;
}


/*
.maintxt {
    background-image: url(images/banner2.jpg);
    background-size: cover;
    height: 400px;
}

*/

.top-content {
  position: relative;

  color: black;
  padding-left: 40px;
  line-height: 20px;


  font-family: 'Josefin Sans', sans-serif;

  overflow-y: scroll;
  overflow-x: hidden;




}



.banner-content {

  position: relative;


  margin-left: 70px;
  font-family: 'Josefin Sans', sans-serif;

  margin-top: -250px;


}





#shop-btn:hover {

  opacity: 50%;
}

.c-icons {

  width: 125px;
  height: 125px;
  margin-left: 15px;
  margin-right: 15px;
}

.category-head {

  text-align: center;
  font-family: 'Josefin Sans', sans-serif;

}

.card-group {

  margin-top: 20px;


}

.card {

  margin-left: 70px;
  margin-right: 70px;
  height: 240px;

}


.card-img-top {
  width: 100px;
  height: 370px;
}


.new-category {
  display: flex !important;
  justify-content: space-around;
  flex-basis: auto;
}


.product-tab-icon {


  margin-left: 10px;
  margin-right: 10px;



}



.category-icon-items {

  margin-left: 50px;
  margin-top: 5px;
  color: black;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;



}



.product-item {
  /*border-style: solid;
  border-width: 1px;
  border-color: lightgrey;*/





}


.card-title {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 30px;

}

.card-text {

  font-family: 'Josefin Sans', sans-serif;

}



/*.card-bg{

  background-image: url("images/minibanner.jpg");
}*/


.card-body {

  background-repeat: no-repeat;
  background-size: cover;




}

/*.card-body:hover background-image{

    transform:scale(1.2) rotate(-5deg);

}
*/







.card {


  margin-left: 40px;
  margin-right: 40px;
  border-radius: 30px;




}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.category-head-2 {

  text-align: center;
  font-family: 'Josefin Sans', sans-serif;

}

.ad-content-h {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  s
}

.aboutus-1 {
  display: block;
  margin-left: auto;
  margin-right: 50px;
  width: 50%;


}

.aboutus-sec-row {

  margin-left: 140px;

  margin-bottom: 50px;
  margin-top: -40px;
}